/* Style all font awesome icons */
.fa {
    padding: 10px;
    font-size: 10px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
 
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    
    background: #2a2024;
    color: white;
    margin-right: 20px;
  }
  
  .fa-instagram {
    background:  #2a2024;
    color: white;
    margin-right: 20px;
  }
  .fa-whatsapp {
    background: #2a2024;
    color: white;
    margin-right: 20px;
  }
  /* Twitter */
  .fa-twitter {
    margin-left: 20px;
    background:  #2a2024;
    color: white;
  }

  .nav-care-category{
      margin-top: 30px;
  }

  .container{
    padding-right: 5px;
    padding-left: 5px;
  }
  .contact-logo{
    width: 100%;
    height: 100%;
  }
  .carousel-home{
      margin: 30px 100px 20px 100px;
      padding-bottom: 700px;
      height: 360px;
      width: 90%;
      display:block;
      margin-left: auto;
      margin-right: auto;
      align-content: center;
  }
  .nav-link-background{
      margin: 10px 25px 10px 25px;
      background-color: #d3b7ab;
      color: azure;
  }
  
 .d-margin{
    margin: 0px 10px 10px 10px;
 }
 .logo_align{
    margin:10px auto;
		display:block;
 }
 .card-bg{
  background-color: white;
  color:black;
  margin: 10px 10px 10px 10px;
 }
 .footer-text-copyrigth{
   color: #2a2024;
 }
 .nav-text{
   font-size: 20px;
   font-weight: bold;
   margin-left: 20px;
   margin-right: 20px;
   
 }
 .nav-bg-gold{
   background-color: #d3b7ab;
   color: #d3b7ab;
 }
 .icons-pading-top{
   margin-top: 10px;
 }
 .nav-text-color{
   color: #2a2024;
 }
 .footer-bg{
   background-color: #d3b7ab;
 }
 .container-about{
   margin-top: 30px;
   padding-bottom: 10px;
   padding-top: 10px;
 }
 .vision-bg{
  background-color: #2a2024;
  margin: 20px 40px 20px 40px;
 }
 .mision-bg{
  background-color: #2a2024;
  margin: 20px 40px 20px 40px;
 }
 .history-bg{
  background-color: #2a2024;
  margin: 20px 40px 20px 40px;
 }
 .about-text{
   color: white;
   text-align: center;
 }
 .payments-marging{
   margin: 10px 10px 10px 10px;
 }
 .dropdown-item-active{
   background-color: #d3b7ab;
 }
 header{
   margin-bottom: 100px;
 }
h5{
  font-family: 'Carbo', serif;
  font-size: 30px;
}
h2{
  font-family: 'Cutive Mono', monospace;
  text-shadow: 2px 2px 1px black;
  color: white;
  font-size: 35px;
}
h3{
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 35px;
}
h7{
  font-family: 'Lobster', cursive;
  font-size: 35px;
}
 footer{
  padding: 10px 0px 20px 0px;
  bottom: 0px;
  margin-bottom: -25px;
  margin-top: 20px;
 }
 